@import "bootstrapCustom";
@import "variables";

@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");

.bx {
	position: relative;
	top: 1px;
}

body {
	background: #111111;
	color: #fdfdfd;
	font-family: "Work Sans";
}

.content {
	width: 100%;
	padding-right: 3rem;
}

.sidebar {
	min-width: 300px;
	top: calc(56px + 3rem);
	height: 0;
}
